SQL -> DDL and DML

data definition language:
 - define, change, drop data

 CREATE
 ALTER
 TRUNCATE
 DROP

 data manipulation language:
  - read, modify data
  - CRUD operations (Create, Read, Update, Delete)

 INSERT
 SELECT
 UPDATE
 DELETE

In [ ]:
CREATE TABLE provinces(
    id char(2) PRIMARY KEY NOT NULL,
    name varchar(24)
)

In [ ]:
CREATE TABLE author(
    author_id CHAR(2) PRIMARY KEY NOT NULL,
    lastname VARCHAR(15) NOT NULL, 
    firstname VARCHAR(15) NOT NULL,
    email VARCHAR(40),
    city VARCHAR(15), 
    country CHAR(2)
)

ALTER TABLE ... ADD COLUMN
 - add or remove columns
 - modify the data type of columns
 - add or remove keys
 - add or remove constraints

 one commands at a time

In [ ]:
ALTER TABLE author
  ADD COLUMNS telephone_number BIGINT;

In [ ]:
ALTER TABLE author
  ALTER COLUMN telephone_number SET DATA TYPE
  CHAR(20);

In [ ]:
ALTER TABLE author
  DROP COLUMNS telephone_number;

In [ ]:
DROP TABLE author;

In [ ]:
TRUNCATE TABLE author
  IMMEDIATE;
# deletes all rows of data in table